<h1> Welcome to the stock Tracker App</h1>
<%
=begin%>
 <p> Find me in app/views/welcome/index.html</p>
<p> Create a welcome page</p> 
<%
=end%>

<%=  link_to 'Sign out', destroy_user_session_path, method: :delete %>

